* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Montserrat Alternates", sans-serif;
	color: white;
	box-sizing: border-box;
}

/*Estilos para el Navbar*/

.header {
	position: fixed;
	display: flex;
	width: 100%;
	padding: 11px;
	justify-content: space-between;
	font-size: 25px;
	background-color: #1f2020;
	z-index: 2;
}

/* boton hamburguesa y icono de youtube*/
.btn-menu {
	display: flex;
	align-items: center;
}

.btn-menu label:hover {
	background-color: #545b60;
	border-radius: 50%;
	cursor: pointer;
}

.menu {
	display: flex;
	position: relative;
}

/* segunda parte busqueda y micro */
.search {
	width: 550px;
	padding: 9px 20px;
	padding-right: 5px;
	border-radius: 20px 0 0 20px;
	border: 0.1px solid #545b60;
	outline: none;
	font-size: 1rem;
	background-color: #1f1f1f;
}

::placeholder {
	color: #757c82;
}

.butn {
	background-color: #545b60;
	padding: 10px 25px;
	border: 0;
	top: 0;
	bottom: 0;
	right: 0;
	cursor: pointer;
	border-radius: 0 20px 20px 0;
}

.micro {
	background-color: #545b60;
	color: white;
	padding: 10px 14px;
	margin-left: 15px;
	border: 0;
	cursor: pointer;
	border-radius: 50%;
}

.micro:hover {
	background-color: #4b4e52;
}

/* Camara , campana , user */

.dropbtn {
	background-color: transparent;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	font-size: 15px;
	margin: 0 5px;
}

.dropdown {
	position: relative;
	margin-right: 20px;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 15px;
	top: 30px;
	height: auto;
	width: 200px;
	border-radius: 15px;
	background-color: #1f2020;
	z-index: 2;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	display: block;
	font-size: 15px;
}

.dropdown-content a:hover {
	background-color: #7c7979;
	border-radius: 15px;

}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #7c7b7b;
}

/*Fin de Estilos para el nav*/

/*Menù lateral (Pestana)*/
#btn-menu {
	display: none;
}

.container-menu {
	display: flex;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: 2;
}

#btn-menu:checked~.container-menu {
	opacity: 1;
	visibility: visible;
}

.cont-menu {
	position: absolute;
	width: 100%;
	max-width: 280px;
	background: #1c1c1c;
	height: 100vh;
	position: relative;
	transition: all 500ms ease;
	transform: translateX(-100%);
	overflow: scroll;
}

#btn-menu:checked~.container-menu .cont-menu {
	transform: translateX(0%);
}

.cont-menu nav {
	transform: translateY(3%);
}

.cont-menu nav a {
	display: block;
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	color: #c7c7c7;
	transition: all 500ms ease;
}

.cont-menu nav a:hover {
	background-color: #4b4e52;
	border-radius: 15px;
}

.cont-menu label {
	position: absolute;
	display: flex;
	align-items: center;
	right: 95px;
	top: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 25px;
}

/* scrollbar de la pagina */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
	background: #8c9194;
	border-radius: 20px;
}

/* barra lateral izquierda fija */

.sidebar {
	position: fixed;
	top: 60px;
	left: 0;
	z-index: 1;
	width: 95px;
	height: 93vh;
	background: #1f1f1f;
}

.sideon {
	display: grid;
	flex-direction: column;
	justify-content: center;
	margin-top: 15px;
	gap: 10px;

}

.one:hover {
	background-color: #4f5050;
	border-radius: 15px;

}

/* barra abajo del nav */

.sidebar2 {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 60px;
	left: 95px;
	z-index: 1;
	width: 95%;
	background-color: #1c1c1c;
	height: 50px;
	gap: 10px;
}

.sidebar2 button {
	background-color: transparent;
	color: white;
	padding: 10px 16px;
	border: 0;
	cursor: pointer;
	border-radius: 10px;
}

.sidebar2 button:hover {
	background-color: #4f5050;
}

/* Videos */

.videos {
	position: relative;	
	
	top: 90px;
	left: 95px;
	width: 93.2vw;
	height: 100%;
	background-color: #1f2020;
}


.conten {		
	display: inline-table;
	margin: 20px 30px; 
    font-size: 13px;
}

.info {
	display: flex;
}
